<header class="header">
        <div class="nav">
            <h1 class="logo">JOB PORTAL</h1>
            <button class="btn">ADMIN</button>
        </div>
    </header>
<div class="content">
    <div class="shape"></div>
    <div class="left">
        <h1 class="first">PROFICIENT JOB PORTAL</h1>
        <h1 class="second">DEVELOPMENT SERVICES</h1>
        <p class="third">Hire an online job portal development company for world-class engaging solutions that would make job search an easy task to accomplish. From recruiters to job seekers all can find solutions to their problems under one roof.</p>
        <div class="btn-2">
            <button class="job" onclick="window.location.href = './person/signup'">FOR JOB</button>
            <button class="hire" onclick="window.location.href = './company/login'">FOR HIRE</button>
        </div>
    </div>
    <div class="right">
        <img class="con-img" src="/images/content.jpg">
    </div>
</div>